*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Questrial', sans-serif;
	font-size:14px;
}
article, aside, footer, header, hgroup, main, nav, section{
    display: block;
}
.jo-wrapper{
	width:1024px;
	margin:0 auto;
}
.jo-col3, .jo-col4, .jo-col6, .jo-col9, .jo-col12{
	position: relative;
	padding:0 10px;
	min-height: 1px;
	float: left;
}
.jo-col12{
	width:100%;
}
.jo-col9{
	width:75%;
}
.jo-col6{
	width:50%;
}
.jo-col4{
	width:33.33334%;
}
.jo-col3{
	width:24%;
}
.jo-icon{
	font-size:40px;
	background: #222;
	border-radius: 50%;
	padding: 20px;
	color: #f5f5f5;
}
.jo-section-title{
	font-size: 32px;
	line-height: 1.5em;
}
.jo-section-desc{
	font-size: 22px;
	line-height: 1.5em
}
.jo-hide{
	visibility: hidden;
}
#jo-nav{
	position: fixed;
	background:rgba(0,0,0,.9);
	width: 100%;
	z-index: 999;
}


#jo-hello{
	position: relative;
	height: 700px;
	background: #fafafa;
	overflow: hidden;
}
.jo-bg-head{
	position: absolute;
	width: 100%;
	top:-80px;
	height: 700px;
}
.jo-bg-head :first-child, .jo-bg-head :nth-child(2), .jo-bg-head :nth-child(3), .jo-bg-head :nth-child(4){
	position: absolute;
	width: 33.3333%;
	height: 100%;
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
	background: #000;
	bottom: 0
}
.jo-bg-head :nth-child(2){
	-webkit-transform: skewY(20deg);
    transform: skewY(20deg);
	left:33.3333%;
}
.jo-bg-head :nth-child(3){
	left:66.6%;
	-webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    background: #424242
}
.jo-bg-head :nth-child(4){
	left:66.6%;
}
.jo-bg-head :nth-child(5){
	position: absolute;
	width: 100%;
	height: 200px;
	background: #000;
}
.jo-bg-phone{
	position: absolute;
	left: 800px;
}
.jo-phone{
    border-radius: 38px;
    float: left;
    margin-top: 200px;
    height: 467px;
    width: 225px;
    background: #fff;
    webkit-box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
    transform: scale(.6) rotate(-12deg) translateX(50px);
}
.jo-phone img{
	position: absolute;
	top: 50px;
    left: 7px;
}
.jo-tablet{
    border-radius: 38px;
	background: #fff;
	margin-left: 190px;
	margin-top:100px;
	webkit-box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
	box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173,186,204,.25), 0 2px 6px rgba(0,21,64,.14), 0 10px 20px rgba(0,21,64,.05);
	transform: scale(1) rotate(-12deg) translateX(50px);
    height: 352px;
    width: 512px;
}
.jo-tablet img{
	position: absolute;
	top:7px;
	left: 43px;
}

.jo-head-content{
	position: relative;
}
#jo-hello .jo-section-desc{
	color:#fff;
	width: 700px
}
#jo-header{
	padding: 30px 0 50px 0;
}
#jo-header #jo-logo{
	transform: scale(.2);
	position: absolute;
	top: -48px;
	left: -40px;
}
#jo-header #jo-logo div:nth-child(2) {
	background: #000;
}
.jo-header-inner, .jo-header-menu{
	float:left;
	position: relative;
	width: 50%
}
.jo-header-inner img{
	height: 18px;
	padding-left:40px;
}
.jo-header-menu ul{
	margin-top:5px;
	list-style: none;
	text-align: right;
}
.jo-header-menu li{
	display:inline-block;
}
.jo-header-menu li a{
	color:#fff;
    text-decoration: none;
    margin-left: 32px;
}
.jo-head-content, .jo-bg-phone{
	animation-delay: 0.5s;
}
.jo-head-content h4{
	font-size: 40px;
	color: #fff;
	font-weight: normal;
	line-height: 1.5em;
	margin: 180px 0 0 0;
}
.jo-btn-area{
	margin-top:50px;
}


.jo-btn{
	font-family: 'Questrial', sans-serif;
	background: #2196F3;
	color:#fff;
	height: 40px;
	white-space: nowrap;
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 4px;
	font-size:20px;
	margin: 10px;
	cursor: pointer;
	border:none;
	text-decoration: none;
	transition: all .15s ease;
}
.jo-input{
	font-family: 'Questrial', sans-serif;
	height: 40px;
	background: transparent;
	border-radius: 4px;
	font-size: 20px;
	border:2px solid #999;
	transition: all .15s ease;
	padding:0 10px;
}

.jo-btn:focus,.jo-btn:hover{
	-webkit-transform:translateY(-1px);
	transform:translateY(-1px);
	-webkit-box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
	box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
}
.jo-btn:active{
	-webkit-transform:translateY(1px);
	transform:translateY(1px);
	-webkit-box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
	box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08)
}
.jo-btn.inverted{
	background: #fff;
    color: #2196F3;
}
.content__container {
	font-size: 40px;
	color: #fff;
	overflow: hidden;
	height: 45px;
	width: 512px;
	margin-bottom: 20px
}
.content__container__list {
	list-style: none;

	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
      .content__container__list__item {
        line-height:42px;
        margin:0;
      }

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

#jo-about{
	position: relative;
	height: 700px;
	background: #2196F3;
}
.jo-bg-about{
	position: absolute;
	width: 100%;
	height:600px;
}
.jo-bg-about :first-child, .jo-bg-about :nth-child(2), .jo-bg-about :nth-child(3), .jo-bg-about :nth-child(4), .jo-bg-about :nth-child(5){
	position: absolute;
	width: 33.3333%;
	height: 100%;
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
	background: #fafafa;
	bottom: 0
}
.jo-bg-about :nth-child(4){
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    left:33.3333%;
}
.jo-bg-about :nth-child(5){
    left:66.6%;
}
.jo-bg-about :nth-child(2){
    left:33.3333%;
    background: #fafafa;
    height: 200px;
}
.jo-bg-about :nth-child(3){
    left:66.6%;
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    background: #fafafa;
    height: 200px;
}
.jo-bg-about :last-child{
	position: absolute;
	width: 100%;
	height: 200px;
	background: #fafafa;
}
.jo-about-content .jo-about-img{
	border-radius: 50%;
	box-shadow: 0 30px 50px 0 rgba(34,43,55,.4);
}
.jo-about-content .jo-section-title{
	margin-bottom: 10px
}
.jo-about-content .jo-icon{
	float:left;	
}
.jo-about-content .jo-col6:first-child{
	padding-right: 50px;
}
.jo-about-content .jo-col6:last-child{
	margin-top:50px;
}





#jo-skill{
	position: relative;
	height: 800px;
	background: #fafafa;
}
.jo-bg-skill{
	position: absolute;
	width: 100%;
	height:700px;
}
.jo-bg-skill :first-child, .jo-bg-skill :nth-child(2), .jo-bg-skill :nth-child(3), .jo-bg-skill :nth-child(4){
	position: absolute;
	width: 33.3333%;
	height: 100%;
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
	background: #2196F3;
	bottom: 0
}
.jo-bg-skill :nth-child(2){
	-webkit-transform: skewY(20deg);
    transform: skewY(20deg);
	left:33.3333%;
}
.jo-bg-skill :nth-child(3){
	left:66.6%;
	-webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    background: #90CAF9;
    height: 50vh
}
.jo-bg-skill :nth-child(4){
	left:66.6%;
}
.jo-bg-skill :last-child{
	position: absolute;
	width: 100%;
	height: 200px;
	background: #2196F3;
}
.jo-skill-content{
	position: relative;
}
.jo-skill-main{
	margin-top:80px;
	line-height: 1.5em
}
.jo-skill-main .jo-col4{
	margin:30px 0;
	height: 170px;
	cursor: pointer;
	transition: all 0.5s;
}
.jo-skill-content .jo-section-title{
	color:#fff;
}
.jo-skill-content .jo-section-desc{
	color:rgba(255,255,255,.9);
}
.jo-skill-title{
	margin:20px 0 10px;
	font-size: 20px;
	color:#fff;
}
.jo-icon-desc{
	font-size: 16px;
	color:rgba(255,255,255,.9);	
}
.jo-skill-main .jo-icon{
	background: #fafafa;
	color: #2196F3;
}

#jo-project{
	position: relative;
	height: 1200px; 
	background: #eee;
}

.jo-bg-project{
	position: absolute;
	width: 100%;
	height:1000px;
}
.jo-bg-project :first-child, .jo-bg-project :nth-child(3){
	position: absolute;
	width: 100%;
	height: 70%;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
	background: #e0e0e0;
	bottom: 0
}
.jo-bg-project :nth-child(2){
	position: absolute;
	width: 100%;
	height: 60%;
	background: #fafafa;
}
.jo-bg-project :nth-child(3){
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
    background: #fafafa;
}
.jo-project-content{
	position: relative;
}
.jo-project-content .jo-section-title{
	margin-top:30px;
}

.jo-project-wrapper{
  display: flex;
  height:500px;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: center;
  padding:0 80px;
}

.jo-project-wrapper::-webkit-scrollbar{
  width: 30px
}
.jo-project-wrapper::-webkit-scrollbar *{
  background: transparent;
}
.jo-project-wrapper::-webkit-scrollbar-thumb{
  background: rgba(255,255,255,0);
}
.jo-project{
	height:300px;
	width: 450px;
	overflow:hidden;
	border-radius: 7px;
  flex: 0 0 auto;
  margin-right: 50px;
  cursor:pointer;
	box-shadow: 0 30px 50px 0 rgba(34,43,55,.4);
  transition: all 0.2s;
}
.jo-project:hover{
	margin-top: 5px;
	box-shadow: none;
}
.jo-project img{
	height:300px;
}
#left1.jo-btn-left, #right1.jo-btn-right, #left2.jo-btn-left, #right2.jo-btn-right{
	background: transparent;/*linear-gradient(to right, #aaa, transparent)*/;
	position: absolute;
	z-index: 4;
	width: 100px;
	height: 300px;
}
#left1.jo-btn-left{
	top: 240px;
}
#right1.jo-btn-right{
	right: 0;
	top: 240px;
}
#left2.jo-btn-left{
	top: 590px;
}
#right2.jo-btn-right{
	right: 0;
	top: 590px;
}
#jo-post{
	position: relative;
	height: 1100px;
	background: #eee;
}
.jo-bg-post{
	position: absolute;
	height: 1100px;
	width: 100%;
}
.jo-bg-post :nth-child(2){
	position: absolute;
	width: 100%;
	height: 50%;
	background: #fafafa;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
	bottom: 200px;
}
.jo-bg-post :first-child{
	position: absolute;
	width: 100%;
	height: 50%;
	background: #eee;
}
.jo-post-content{
	position: relative;
}
.jo-post-content .jo-section-title{
	margin-top:30px;
}
.jo-post{
	background: #fff;
	border-radius: 5px;
	height:320px;
	box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
}
.jo-post-content .jo-col4{
	padding: 20px
}
.jo-post-img{
	width: 100%;
	height:150px;
	overflow: hidden;
}
.jo-post-img img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.jo-post-title{
	padding: 20px;
}
.jo-post-title a{
	text-decoration: none;
	color:#222;
}
.jo-post-desc{
	font-size: 16px;
	padding: 0 20px;
	line-height: 1.5em
}
#jo-contact{
	position: relative;
	width: 100%;
	height: 600px;
	background: #eee;
	overflow: hidden;
}
.jo-social-media{
	    width: 500px;
    position: relative;
    margin-top:100px;
    padding: 30px;
    clear: both;
    transform: perspective(700px) rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}
.jo-social-media i{
	padding:30px;
	color:#fff;
	background:#fff;
	border-radius: 7px;
	margin:10px;
box-shadow: 20px 20px 50px 0 rgba(34,43,55,.4);
transition: all 0.2s;
}
.jo-social-media i:hover{
	margin-top:10px;
	box-shadow: none;
}
#jo-footer{
	position: relative;
	width: 100%;
	background:#111;
	color:#fff;
	padding:80px 0;
}
.jo-footer-top{
	font-size: 16px;
}
.jo-footer-top ul{
	list-style: none;
	margin-top:30px;
}
.jo-footer-top h4{
	line-height: 1.5em;
}
.jo-footer-top ul li{
	padding:10px 0;
}
.jo-footer-top ul li a{
	text-decoration: none;
	padding:20px 0;
	color:rgba(255,255,255,0.9);
}


.jo-pop-menu-wrapper{
position: absolute;
    height: 400px;
    width: 100%;
    padding: 20px;
    top: 0;
    display: none;
}
.jo-pop-menu-wrapper.active{
	display: block;
}
.jo-pop-menu-top{
	position: relative;
	background: #fff;
	width: 100%;
	border-radius: 7px 7px 0 0;
	padding: 20px;
	height: 300px;
}
.jo-pop-menu-bottom{
	padding: 20px
}
.jo-pop-menu{

	font-size: 16px;
background: #eee;
    height: 100%;
    border-radius: 7px;
    width: 100%;
    box-shadow: 0 30px 50px 0 rgba(34,43,55,.4);
}
.jo-pop-menu ul{
	list-style: none;
}
.jo-pop-menu li{
	position: relative;
}
.jo-pop-menu ul a{
	color: #222;
	padding: 10px 0 10px 40px;
	display: block;
	text-decoration: none;
}
.jo-pop-menu i{
	position: absolute;
	top:10px;
}
.jo-pop-menu i.icon-close{
	top: 20px;
	right: 20px;
	font-size: 24px;
	z-index: 99;
	cursor: pointer;
}
.jo-web-menu{
	display: block;
}
.jo-mobile-menu{
	display: none;
}
#jo-logo{
	position: relative;
	height: 110px;
	width: 100px;
	cursor:pointer;
	margin: 0 auto 30px auto;
}
#jo-logo div{
	position: absolute;
}
#jo-logo :first-child {
    top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: transparent;
    border: 20px solid #fff;
    animation: mulut 5s infinite;
}
#jo-logo div:nth-child(2) {
    top: 9px;
    background: #111;
    width: 100px;
    height: 50px;
}
#jo-logo div:nth-child(3) {
    background: #2196f3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: kedip 5s infinite;
}
#jo-logo div:nth-child(4) {
    top: 10px;
    left: 60px;
    background: #fff;
    width: 40px;
    height: 20px;
}

@keyframes kedip{
	0%{
		border-radius:0;
		top:10px;
		height:20px;
	}
	5%, 100% {
		border-radius:50%;
		top:0;
		height: 40px;
	}
}
@keyframes mulut{
	0%, 79%{
		background:transparent;
	}
	80%, 100%{
		background:#fff;
	}
}

/*===========
 MEDIA SCREEN
===========*/

@media screen and (max-width: 1024px){
	.jo-wrapper{
		width:100%;
		padding:0 20px;
	}
	.jo-bg-phone {
		left: 600px;
	}
}
@media screen and (max-width: 768px){
	.content__container {
		width:100%;
	}
	#jo-header {
    	padding: 20px 0 40px 0;
	}
	.jo-mobile-menu{
		display: block;
	}
	.jo-web-menu{
		display: none;
	}
	.content__container {
		font-size: 32px;
	}
	.jo-bg-phone{
		left:400px;
	}
	#jo-hello .jo-section-desc{
		width: 400px;
	}
	.jo-head-content h4{
		font-size: 32px;
		width: 90%;
	}
	.jo-about-content .jo-col6:last-child{
		margin-top:0px;
	}
	.jo-skill-main .jo-col4 {
		height: 250px;
	}
	#jo-skill{
		height: 900px;
	}
	.jo-bg-skill{
		height:800px;
	}
	#jo-project{
		height: 1000px;
	}
	.jo-bg-project{
		height: 800px;
	}
	#left1.jo-btn-left, #right1.jo-btn-right, #left2.jo-btn-left, #right2.jo-btn-right {
	    height: 200px;
	}

	#left1.jo-btn-left{
		top: 275px;
	}
	#right1.jo-btn-right{
		right: 0;
		top: 275px;
	}
	#left2.jo-btn-left{
		top: 525px;
	}
	#right2.jo-btn-right{
		right: 0;
		top: 525px;
	}
	.jo-project img {
		height: 200px
	}
	.jo-project {
		height:200px;
		width: 300px;
	}
	.jo-project-wrapper{
		height: 400px;
	}
}
@media screen and (max-width: 425px){
	#jo-header #jo-logo{
		display: block;
	}
	/*#jo-header img{
		visibility:hidden;
	}*/
	.jo-col3, .jo-col4, .jo-col6, .jo-col9, .jo-col12{
		float: none;
		width: 100%
	}
	.jo-skill-main .jo-col4 {
		height: 170px;
	}
	#jo-hello{
		height: 900px;
	}
	.jo-bg-head{
		height: 800px;
	}
	.jo-head-content h4{
		text-align: center;
	}
	.content__container {
		text-align: center;
	}
	.jo-phone{
		margin-left:-40px;
		transform: scale(.4) rotate(-12deg) translateX(50px);
	}
	.jo-tablet{
		margin-left: 100px;
		margin-top: 300px;
		transform: scale(.7) rotate(-12deg) translateX(50px);
	}
	#jo-hello .jo-section-desc{
		font-size: 18px;
		text-align: center;
		width: 100%
	}
	.jo-btn-area{
		text-align: center;
	}
	.jo-bg-phone {
		left: 0;
		bottom: 40px;
	}
	.jo-about-content .jo-col6:first-child {
		padding-right: 10px;
		padding-bottom: 30px
	}
	.content__container {
		font-size: 28px;
		margin-top:0;
	}
	.jo-head-content h4{
		font-size: 28px;
		width: 100%
	}
	#jo-about{
		height:900px;
	}
	.jo-bg-about{
		height: 800px
	}
	#jo-skill{
		height: 1600px;
	}
	.jo-bg-skill{
		height: 1500px;
	}
	.jo-btn-left, .jo-btn-right{
		width: 50px;
	}
	.jo-project-wrapper{
		padding: 0 20px;
	}

	#jo-project{
		height: 1050px;
	}
	.jo-bg-project{
		height: 800px;
	}
	#left1.jo-btn-left, #right1.jo-btn-right, #left2.jo-btn-left, #right2.jo-btn-right {
		display: none;
	}
	/*#left1.jo-btn-left{
		top: 307px;
	}
	#right1.jo-btn-right{
		right: 0;
		top: 307px;
	}
	#left2.jo-btn-left{
		top: 557px;
	}
	#right2.jo-btn-right{
		right: 0;
		top: 557px;
	}*/
	#jo-post{
		height: 2500px;
	}
	.jo-bg-post :nth-child(2){
		height: 100%;
	}
	#jo-footer .jo-col3{
		margin:40px 0;	
	}
	.jo-footer-top ul{
		margin-top:15px;
	}
}